@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #ccc;
}

.wordmark {
    width: 5em;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav {
    margin: 0;
    padding: 0.5em 0;
    list-style-type: none;
    text-align: center;
}

.nav li {
    display: block;
    padding: 1em;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: #fff;
    border-bottom: solid 1px;
    border-top: solid 1px;
}

.billboard {
    background-image: url(../images/billboard.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.billboard-type {
    text-align: center;
    height: 50vh;
}

.portfolio-piece:hover {
    opacity: .75;
}

footer {
    background-color: #ccc;
}

.project-title {
    text-align: center;
}

.description {
    padding: 0;
}

@media only screen and (min-width:25em) {
 
    .nav li {
        display: inline-block;
    }
    
}

@media only screen and (min-width:38em) {
 
    .nav {
        text-align: left;
        padding: 1.5em 0;
    }
    
    .project-title {
        text-align: left;
    }
    
    .description {
        padding: 0 1em;
    }
    
}