<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initail-scale=1">
    <title>Isabelle Fortier</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>
    
<ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
</ul>
    
<header class="grid masthead">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-4 unit-l-1-4">
        <a class="pad-t-1-2 pad-b-1-2 wordmark" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/wordmark.svg" alt="Wordmark"></a>
    </div>
    {% include nav.html %}
</header>
    
{{content}}
    
</body>
</html>