<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.desc}}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="http://isabellefortier.ca/{{page.url}}">
    <meta property="og:image" content="{{site.baseurl}}/images/wordmark.svg">
    <meta property="og:site_name" content="Isabelle Fortier">
    <meta property="og:description" content="{{page.desc}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
</head>
<body>
    
<ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
</ul>
    
<header class="grid masthead">
    <div class="unit unit-xs-1 unit-s-1 unit-m-1-4 unit-l-1-4">
        <a class="wordmark" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/wordmark.svg" alt="Wordmark"></a>
    </div>
    {% include nav.html %}
</header>
    
{{content}}
    
<footer class="nav-footer">
    <div class="island-1-2">
        <div class="push-1-2">
            <a class="pad-t-1-4 pad-b-1-4" href="{% if site.url == '/' %}{{site.baseurl}}/{% endif %}">Back to top</a>
        </div>
        <p class="push-0">Send me an email at <a href="mailto:isabelle@isabellefortier.ca">isabelle@isabellefortier.ca</a></p>
        <p class="push-1-2">Check out my <a href="https://www.behance.net/IsabelleFortier">Behance</a></p>
        <p class="micro push-0">© 2015 Isabelle Fortier</p>
    </div>
</footer>
    
</body>
</html>